[submodule "polyomino"]
	path = submodules/polyomino
	url = https://github.com/recreational-websites/polyomino.git
[submodule "color"]
	path = submodules/color
	url = https://github.com/recreational-websites/color.git
